// styles.css

* {
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    font-family: Roboto;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
    

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: white;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    border-bottom: 4px solid #4a90e2;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav a {
    color: white;
    text-decoration: none;
}
.hero {
    height: 60vh;
    background: url('https://github.com/KarthickPathman/response_ready_website/blob/main/wave.png?raw=true') no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
}
button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    border-top: 4px solid #4a90e2;
}
